body {
	width: 1000px;
	margin: 0 auto;
}

.wrapper {
	width: 1000px;
	text-align: center;
	margin-top: 50px;
}

.wrapper .form-search a {
	display: block;
	text-align: right;
}

.wrapper {
	text-align: center;
}

.wrapper .form-group {
	text-align: left;
}

.wrapper .item-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper li {
	overflow: hidden;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid black;
}

.wrapper .form-group select {
	width: 300px;
}

.wrapper .item-list img {
	width: 250px;
	height: 150px;
	float: left;
	object-fit: contain;
}

.wrapper .title-price {
	width: 500px;
	height: 150px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

.wrapper .link-operate {
	width: 200px;
	height: 150px;
	float: left;
	text-align: center;
}

.wrapper .clear {
	clear: both;
}