body {
    width: 1000px;
    margin: 0 auto;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.wrapper .form-group {
    text-align: left;
}

.wrapper th,
.wrapper td {
    border-style: none;
}
